.ProseMirror,
.ProseMirror-menubar-wrapper {
    --s-25: #F8FAFC;
    --s-50: #F1F5F8;
    --s-75: #EBF0F5;
    --s-100: #E4EBF1;
    --s-200: #C9D7E3;
    --s-300: #AEC3D5;
    --s-400: #93AFC8;
    --s-500: #779BBB;
    --s-600: #446888;
    --s-700: #37546D;
    --s-800: #293F51;
    --s-900: #1B2836;

    --space-zero: 0;
    --space-micro: 2px;
    --space-smaller: 4px;
    --space-small: 8px;
    --space-one: 1px;
    --space-slab: 12px;
    --space-normal: 16px;
    --space-medium: 24px;
    --space-large: 32px;
    --space-larger: 48px;

    --font-size-small: 14px;
    --font-size-default: 16px;
    --font-size-medium: 18px;
    --font-size-large: 22px;
    --font-size-big: 24px;
    --font-size-bigger: 3px;

    --font-weight-feather: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-weight-black: 700;


    --border-radius-small: 3px;
    --border-radius-medium: 7px;


}