@import url(base.css);

.ProseMirror-menubar-wrapper .ProseMirror-menubar .ProseMirror-menuitem .ProseMirror-icon {
    margin-right: var(--space-normal);
    font-size: var(--font-size-small);
}

.ProseMirror p {
    font-size: var(--font-size-medium);
    line-height: 1.77;
}

.ProseMirror strong code {
    font-size: var(--font-size-medium);
}

.ProseMirror pre code {
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-medium);
    line-height: 1.6;
}

.ProseMirror a {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
}

.ProseMirror-menubar {
    margin-bottom: var(--space-normal);
    padding: var(--space-normal) 0;
}

.ProseMirror hr {
    margin: var(--space-larger) 0;
    border-color: var(--s-100);
}

.ProseMirror h1 {
    margin-bottom: var(--space-large);
}

.ProseMirror h2 {
    margin-bottom: var(--space-medium);
}

.ProseMirror h3 {
    margin-bottom: var(--space-normal);
}

.ProseMirror h4,
.ProseMirror h5 {
    margin-bottom: var(--space-small);
}


.ProseMirror h6 {
    margin-bottom: var(--space-smaller);
}

.ProseMirror-icon svg {
    width: var(--space-medium) !important;
}

.ProseMirror li::marker {
    font-size: var(--font-size-medium);
}

.ProseMirror ul,
.ProseMirror ol {
    padding-left: var(--space-medium);
}

.ProseMirror pre {
    padding: var(--space-medium) var(--space-normal);
    margin-bottom: var(--space-normal);
}

.ProseMirror p {
    margin-bottom: var(--space-normal);
}